Repository kruize/autotune, pull requests merged in 2021-12, with the labels that each got.

#342 Create ApplicationServiceStack class based on Container Image and not Pods.
  hyperparameter_tuning/bayes_optuna/optuna_hpo.py
  hyperparameter_tuning/service.py
  hyperparameter_tuning/tunables.py
  src/main/java/com/autotune/analyzer/Analyzer.java
  src/main/java/com/autotune/analyzer/application/ApplicationServiceStack.java
  src/main/java/com/autotune/analyzer/deployment/AutotuneDeployment.java
  src/main/java/com/autotune/analyzer/services/ListAppLayers.java
  src/main/java/com/autotune/analyzer/services/ListAppTunables.java
  src/main/java/com/autotune/analyzer/services/ListAutotuneTunables.java
  src/main/java/com/autotune/analyzer/services/ListStackLayers.java
  src/main/java/com/autotune/analyzer/services/ListStackTunables.java
  src/main/java/com/autotune/analyzer/services/ListStacks.java
  src/main/java/com/autotune/analyzer/services/SearchSpace.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/analyzer/utils/ServerContext.java
  src/main/java/com/autotune/analyzer/utils/ServiceHelpers.java
Labels: minikube-mvp, analyzer

#346 Update API doc to incorporate experiment_name and stack changes.
  design/API.md
Labels: documentation, minikube-mvp

#348 minikube uses "pod" as the 'POD_LABEL' now.
  manifests/autotune-query-variables/minikube-query-variable.yaml
Labels: bug, minikube-mvp

#347 Updated Analyzer API tests due to analyzer code changes
  tests/scripts/common/common_functions.sh
  tests/scripts/da/da_basic_api_tests.sh
Labels: minikube-mvp
