Repository kruize/autotune, pull requests merged in 2023-05, with the labels that each got.

#802 Merge mvp_demo to master
  manifests/crc/BYODB-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/BYODB-installation/openshift/kruize-crc-openshift.yaml
  manifests/crc/default-db-included-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/default-db-included-installation/openshift/kruize-crc-openshift.yaml
  pom.xml
  src/main/java/com/autotune/Autotune.java
  src/main/java/com/autotune/analyzer/Analyzer.java
  src/main/java/com/autotune/analyzer/experiment/ExperimentResultValidation.java
  src/main/java/com/autotune/analyzer/experiment/ExperimentValidation.java
  src/main/java/com/autotune/analyzer/recommendations/engine/DurationBasedRecommendationEngine.java
  src/main/java/com/autotune/analyzer/serviceObjects/ContainerAPIObject.java
  src/main/java/com/autotune/analyzer/serviceObjects/KubernetesAPIObject.java
  src/main/java/com/autotune/analyzer/services/CreateExperiment.java
  src/main/java/com/autotune/analyzer/services/ListRecommendations.java
  src/main/java/com/autotune/analyzer/services/UpdateResults.java
  src/main/java/com/autotune/common/data/metrics/Metric.java
  src/main/java/com/autotune/common/data/metrics/MetricResults.java
  src/main/java/com/autotune/common/data/result/ViewRecommendation.java
  src/main/java/com/autotune/common/k8sObjects/K8sObject.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/helper/DBConstants.java
  src/main/java/com/autotune/database/helper/DBHelpers.java
  src/main/java/com/autotune/database/service/ExperimentDBService.java
  tests/scripts/quickTestScalability.py
Labels: release

#827 Fix boundary condition issue mentioned in #826
  src/main/java/com/autotune/analyzer/recommendations/engine/DurationBasedRecommendationEngine.java
Labels: analyzer, recommendation

#833 Bump mvp_demo branch to 0.0.15_mvp
  pom.xml
Labels: release

#739 Update List Exp API with new query params
  design/MonitoringModeAPI.md
  src/main/java/com/autotune/analyzer/experiment/ExperimentResultValidation.java
  src/main/java/com/autotune/analyzer/experiment/ExperimentValidation.java
  src/main/java/com/autotune/analyzer/experiment/Experimentator.java
  src/main/java/com/autotune/analyzer/kruizeObject/ExperimentUseCaseType.java
  src/main/java/com/autotune/analyzer/kruizeObject/KruizeObject.java
  src/main/java/com/autotune/analyzer/serviceObjects/Converters.java
  src/main/java/com/autotune/analyzer/services/CreateExperiment.java
  src/main/java/com/autotune/analyzer/services/ListExperiments.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/analyzer/utils/ServiceHelpers.java
  src/main/java/com/autotune/analyzer/workerimpl/CreateExperimentManager.java
  src/main/java/com/autotune/analyzer/workerimpl/UpdateResultManager.java
  src/main/java/com/autotune/common/data/metrics/MetricResults.java
  src/main/java/com/autotune/common/data/result/IntervalResults.java
  src/main/java/com/autotune/database/helper/DBHelpers.java
  src/main/java/com/autotune/database/service/ExperimentDBService.java
  src/main/java/com/autotune/operator/KruizeOperator.java
  src/main/java/com/autotune/utils/KruizeSupportedTypes.java
Labels: enhancement, remote_monitoring
