Repository kruize/autotune, pull requests merged in 2023-03, with the labels that each got.

#594 Added switch case and Recommendation sub category
  src/main/java/com/autotune/analyzer/data/DurationBasedRecommendationSubCategory.java
  src/main/java/com/autotune/analyzer/data/ProfileBasedRecommendationSubCategory.java
  src/main/java/com/autotune/analyzer/data/RecommendationSubCategory.java
  src/main/java/com/autotune/analyzer/utils/GenerateRecommendation.java
  src/main/java/com/autotune/utils/AnalyzerConstants.java
Labels: recommendation

#595 Adds service to list the supported k8s object types
  src/main/java/com/autotune/analyzer/Analyzer.java
  src/main/java/com/autotune/analyzer/serviceObjects/ListSupportedK8sObjectsSO.java
  src/main/java/com/autotune/analyzer/services/ListSupportedK8sObjects.java
  src/main/java/com/autotune/utils/ServerContext.java
Labels: recommendation

#568 Included a stress test for Kruize remote monitoring mode
  .github/workflows/test-on-push.yaml
  tests/README.md
  tests/scripts/remote_monitoring_tests/README.md
  tests/scripts/remote_monitoring_tests/stress_test/jmx/kruize_remote_monitoring_stress.jmx
  tests/scripts/remote_monitoring_tests/stress_test/jmx/kruize_remote_monitoring_stress_openshift.jmx
  tests/scripts/remote_monitoring_tests/stress_test/monitor-metrics-promql.sh
  tests/scripts/remote_monitoring_tests/stress_test/remote_monitoring_stress_test.sh
Labels: test

#666 Update error code in Create and Update Exp.
  design/CreateExperiment.md
  design/MonitoringModeAPI.md
  design/PerformanceProfile.md
  design/UpdateResults.md
  src/main/java/com/autotune/analyzer/experiment/ExperimentInitiator.java
  src/main/java/com/autotune/analyzer/experiment/ExperimentResultValidation.java
  src/main/java/com/autotune/analyzer/experiment/ExperimentValidation.java
  src/main/java/com/autotune/analyzer/performanceProfiles/PerformanceProfileInterface/PerfProfileImpl.java
  src/main/java/com/autotune/analyzer/performanceProfiles/PerformanceProfileValidation.java
  src/main/java/com/autotune/analyzer/services/CreateExperiment.java
  src/main/java/com/autotune/analyzer/services/PerformanceProfileService.java
  src/main/java/com/autotune/analyzer/services/UpdateResults.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/common/data/ValidationOutputData.java
  src/main/java/com/autotune/common/data/result/ExperimentResultData.java
Labels: code_cleanup/refactor

#651 Adds changes to get latest recommendation and recommendations based on end timestamp
  design/MonitoringModeAPI.md
  src/main/java/com/autotune/analyzer/recommendations/ContainerRecommendations.java
  src/main/java/com/autotune/analyzer/recommendations/GenerateRecommendation.java
  src/main/java/com/autotune/analyzer/services/CreateExperiment.java
  src/main/java/com/autotune/analyzer/services/ListRecommendation.java
  src/main/java/com/autotune/analyzer/services/UpdateResults.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/analyzer/utils/ServiceHelpers.java
  src/main/java/com/autotune/common/k8sObjects/ContainerObject.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  src/main/java/com/autotune/utils/Utils.java
Labels: remote_monitoring, recommendation

#692 Change DB config precedence
  src/main/java/com/autotune/database/init/KruizeHibernateUtil.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: remote_monitoring

#638 Recommendation engine design
  src/main/java/com/autotune/analyzer/experiment/ExperimentInitiator.java
  src/main/java/com/autotune/analyzer/experiment/ExperimentInterfaceImpl.java
  src/main/java/com/autotune/analyzer/experiment/ExperimentResultValidation.java
  src/main/java/com/autotune/analyzer/performanceProfiles/PerformanceProfileInterface/DefaultImpl.java
  src/main/java/com/autotune/analyzer/performanceProfiles/PerformanceProfileInterface/PerfProfileImpl.java
  src/main/java/com/autotune/analyzer/performanceProfiles/PerformanceProfileInterface/PerfProfileInterface.java
  src/main/java/com/autotune/analyzer/performanceProfiles/PerformanceProfileInterface/ResourceOptimizationOpenshiftImpl.java
  src/main/java/com/autotune/analyzer/performanceProfiles/PerformanceProfileValidation.java
  src/main/java/com/autotune/analyzer/performanceProfiles/PerformanceProfilesDeployment.java
  src/main/java/com/autotune/analyzer/performanceProfiles/utils/PerformanceProfileUtil.java
  src/main/java/com/autotune/analyzer/recommendations/GenerateRecommendation.java
  src/main/java/com/autotune/analyzer/recommendations/engine/DurationBasedRecommendationEngine.java
  src/main/java/com/autotune/analyzer/recommendations/engine/KruizeRecommendationEngine.java
  src/main/java/com/autotune/analyzer/recommendations/engine/ProfileBasedRecommendationEngine.java
  src/main/java/com/autotune/analyzer/services/PerformanceProfileService.java
  src/main/java/com/autotune/analyzer/services/UpdateResults.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/workerimpl/UpdateResultManager.java
  src/main/java/com/autotune/common/utils/CommonUtils.java
  src/main/java/com/autotune/operator/KruizeOperator.java
Labels: recommendation
