Repository kruize/autotune, pull requests merged in 2024-02, with the labels that each got.

#988 Included the latest scalability test and automation scripts
  tests/scripts/remote_monitoring_tests/scalability_test.md
  tests/scripts/remote_monitoring_tests/scale_test/json_files/create_exp.json
  tests/scripts/remote_monitoring_tests/scale_test/json_files/profile.json
  tests/scripts/remote_monitoring_tests/scale_test/json_files/results.json
  tests/scripts/remote_monitoring_tests/scale_test/remote_monitoring_scale_test_bulk.sh
  tests/scripts/remote_monitoring_tests/scale_test/rosSimulationScalabilityTest.py
  tests/scripts/remote_monitoring_tests/scale_test/rosSimulationScalabilityWrapper.sh
  tests/scripts/remote_monitoring_tests/scale_test/run_bulk_scalability_test.sh
Labels: test, remote_monitoring

#1100 Fix UpdateResults Test Failures
  src/main/java/com/autotune/analyzer/serviceObjects/verification/validators/KubernetesElementsValidator.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  tests/scripts/remote_monitoring_tests/helpers/utils.py
  tests/scripts/remote_monitoring_tests/rest_apis/test_update_results.py
Labels: bug, remote_monitoring

#1103 Bump mvp_demo to version 0.0.20.2_mvp
  manifests/crc/BYODB-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/BYODB-installation/openshift/kruize-crc-openshift.yaml
  manifests/crc/default-db-included-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/default-db-included-installation/openshift/kruize-crc-openshift.yaml
  pom.xml
Labels: release

#1083 Import Data from Global Hashmap and retrieve Datasource details
  src/main/java/com/autotune/common/data/dataSourceDetails/DataSourceCluster.java
  src/main/java/com/autotune/common/data/dataSourceDetails/DataSourceClusterGroup.java
  src/main/java/com/autotune/common/data/dataSourceDetails/DataSourceContainer.java
  src/main/java/com/autotune/common/data/dataSourceDetails/DataSourceDetailsHelper.java
  src/main/java/com/autotune/common/data/dataSourceDetails/DataSourceDetailsInfo.java
  src/main/java/com/autotune/common/data/dataSourceDetails/DataSourceNamespace.java
  src/main/java/com/autotune/common/data/dataSourceDetails/DataSourceWorkload.java
  src/main/java/com/autotune/common/data/dataSourceQueries/DataSourceQueries.java
  src/main/java/com/autotune/common/data/dataSourceQueries/PromQLDataSourceQueries.java
  src/main/java/com/autotune/common/datasource/DataSourceDetailsOperator.java
  src/main/java/com/autotune/common/datasource/DataSourceManager.java
  src/main/java/com/autotune/common/datasource/DataSourceOperator.java
  src/main/java/com/autotune/common/datasource/DataSourceOperatorImpl.java
  src/main/java/com/autotune/common/datasource/prometheus/PrometheusDataOperatorImpl.java
  src/main/java/com/autotune/operator/InitializeDeployment.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: kruize-local

#1107 Merge mvp_demo to master (0.0.20.2_rm)
  design/KruizeConfiguration.md
  design/UpdateResults.md
  manifests/crc/BYODB-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/BYODB-installation/openshift/kruize-crc-openshift.yaml
  manifests/crc/default-db-included-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/default-db-included-installation/openshift/kruize-crc-openshift.yaml
  pom.xml
  src/main/java/com/autotune/Autotune.java
  src/main/java/com/autotune/analyzer/exceptions/KruizeErrorHandler.java
  src/main/java/com/autotune/analyzer/exceptions/KruizeResponse.java
  src/main/java/com/autotune/analyzer/experiment/ExperimentInitiator.java
  src/main/java/com/autotune/analyzer/performanceProfiles/utils/PerformanceProfileUtil.java
  src/main/java/com/autotune/analyzer/recommendations/RecommendationConfigItem.java
  src/main/java/com/autotune/analyzer/recommendations/RecommendationConstants.java
  src/main/java/com/autotune/analyzer/recommendations/engine/CostRecommendationEngine.java
  src/main/java/com/autotune/analyzer/recommendations/engine/PerformanceRecommendationEngine.java
  src/main/java/com/autotune/analyzer/serviceObjects/Converters.java
  src/main/java/com/autotune/analyzer/serviceObjects/FailedUpdateResultsAPIObject.java
  src/main/java/com/autotune/analyzer/serviceObjects/verification/validators/KubernetesElementsValidator.java
  src/main/java/com/autotune/analyzer/serviceObjects/verification/validators/PerformanceProfileValidator.java
  src/main/java/com/autotune/analyzer/services/ListExperiments.java
  src/main/java/com/autotune/analyzer/services/UpdateResults.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/helper/DBConstants.java
  src/main/java/com/autotune/database/helper/DBHelpers.java
  src/main/java/com/autotune/database/service/ExperimentDBService.java
  src/main/java/com/autotune/jobs/RetentionPartition.java
  src/main/java/com/autotune/operator/InitializeDeployment.java
  src/main/java/com/autotune/operator/KruizeDeploymentInfo.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  tests/scripts/remote_monitoring_tests/Remote_monitoring_tests.md
  tests/scripts/remote_monitoring_tests/fault_tolerant_tests/kruize_pod_restart_test.py
  tests/scripts/remote_monitoring_tests/fault_tolerant_tests/remote_monitoring_fault_tolerant_tests.sh
  tests/scripts/remote_monitoring_tests/helpers/utils.py
  tests/scripts/remote_monitoring_tests/rest_apis/test_create_experiment.py
  tests/scripts/remote_monitoring_tests/rest_apis/test_list_recommendations.py
  tests/scripts/remote_monitoring_tests/rest_apis/test_update_recommendations.py
  tests/scripts/remote_monitoring_tests/rest_apis/test_update_results.py
  tests/scripts/remote_monitoring_tests/scalability_test.md
  tests/scripts/remote_monitoring_tests/scale_test/json_files/create_exp.json
  tests/scripts/remote_monitoring_tests/scale_test/json_files/profile.json
  tests/scripts/remote_monitoring_tests/scale_test/json_files/results.json
  tests/scripts/remote_monitoring_tests/scale_test/remote_monitoring_scale_test_bulk.sh
  tests/scripts/remote_monitoring_tests/scale_test/rosSimulationScalabilityTest.py
  tests/scripts/remote_monitoring_tests/scale_test/rosSimulationScalabilityWrapper.sh
  tests/scripts/remote_monitoring_tests/scale_test/run_bulk_scalability_test.sh
  tests/scripts/remote_monitoring_tests/stress_test/jmx/kruize_remote_monitoring_stress.jmx
  tests/scripts/remote_monitoring_tests/stress_test/jmx/kruize_remote_monitoring_stress_openshift.jmx
Labels: release
