Repository kruize/autotune, pull requests merged in 2024-04, with the labels that each got.

#1131 Restructured DataSourceInfo Class
  src/main/java/com/autotune/common/datasource/DataSourceInfo.java
  src/main/java/com/autotune/utils/TrialHelpers.java
Labels: local_monitoring, kruize-local

#1138 Removing files with no usage in datasource directory
  src/main/java/com/autotune/common/datasource/KruizeDataSource.java
  src/main/java/com/autotune/common/datasource/KruizeDataSourceCollection.java
  src/main/java/com/autotune/common/datasource/KruizeDataSourceServiceability.java
Labels: local_monitoring, kruize-local

#1136 Add DataSourceMetadataInfo and nested object classes
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSource.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceCluster.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceContainer.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceMetadataInfo.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceNamespace.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceWorkload.java
Labels: local_monitoring

#1140 Add PromQL datasource queries
  src/main/java/com/autotune/common/data/dataSourceQueries/DataSourceQueries.java
  src/main/java/com/autotune/common/data/dataSourceQueries/PromQLDataSourceQueries.java
Labels: local_monitoring

#1139 Added DataSourceOperator and PrometheusDataSourceOperator
  src/main/java/com/autotune/common/datasource/DataSourceInfo.java
  src/main/java/com/autotune/common/datasource/DataSourceOperator.java
  src/main/java/com/autotune/common/datasource/DataSourceOperatorImpl.java
  src/main/java/com/autotune/common/datasource/prometheus/PrometheusDataOperatorImpl.java
  src/main/java/com/autotune/common/exceptions/ServiceNotFound.java
  src/main/java/com/autotune/experimentManager/handler/MetricCollectionHandler.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: local_monitoring, kruize-local

#1132 Added Datasource Configuration in YAML files
  manifests/autotune/configmaps/minikube-config.yaml
  manifests/autotune/configmaps/openshift-config.yaml
  manifests/crc/default-db-included-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/default-db-included-installation/openshift/kruize-crc-openshift.yaml
Labels: local_monitoring, kruize-local

#1145 Refactoring code to use new datasource operators
  src/main/java/com/autotune/common/datasource/DataSource.java
  src/main/java/com/autotune/common/datasource/DataSourceFactory.java
  src/main/java/com/autotune/common/datasource/KruizeDataSourceOperator.java
  src/main/java/com/autotune/common/datasource/PrometheusDataOperator.java
  src/main/java/com/autotune/common/datasource/PrometheusDataSource.java
  src/main/java/com/autotune/experimentManager/handler/MetricCollectionHandler.java
  src/main/java/com/autotune/operator/InitializeDeployment.java
  src/main/java/com/autotune/operator/KruizeOperator.java
  tests/scripts/da/constants/configmap_constants.sh
Labels: local_monitoring, kruize-local

#1144 Add DataSourceMetadataOperator and DataSourceManager
  src/main/java/com/autotune/common/datasource/DataSourceManager.java
  src/main/java/com/autotune/common/datasource/DataSourceMetadataOperator.java
Labels: local_monitoring, kruize-local

#1152 Update List Experiments API to accept input JSON as params
  design/MonitoringModeAPI.md
  src/main/java/com/autotune/analyzer/services/ListExperiments.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/helper/DBConstants.java
  src/main/java/com/autotune/database/service/ExperimentDBService.java
Labels: enhancement, local_monitoring, API, kruize-local

#1151 Adding Datasource and Metadata Tables
  manifests/crc/default-db-included-installation/minikube/kruize-crc-minikube.yaml
  migrations/kruize_local_ddl.sql
  src/main/java/com/autotune/analyzer/Analyzer.java
  src/main/java/com/autotune/analyzer/serviceObjects/CreateExperimentAPIObject.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/helper/DBConstants.java
  src/main/java/com/autotune/database/init/KruizeHibernateUtil.java
  src/main/java/com/autotune/database/table/KruizeDSMetadataEntry.java
  src/main/java/com/autotune/database/table/KruizeDataSourceEntry.java
  src/main/java/com/autotune/database/table/KruizeExperimentEntry.java
Labels: local_monitoring, kruize-local

#1146 Adding CRUD Operations for DataSource
  migrations/kruize_local_ddl.sql
  src/main/java/com/autotune/Autotune.java
  src/main/java/com/autotune/common/datasource/DataSourceCollection.java
  src/main/java/com/autotune/common/datasource/DataSourceManager.java
  src/main/java/com/autotune/common/datasource/DataSourceOperatorImpl.java
  src/main/java/com/autotune/common/exceptions/KruizeDatasourceAlreadyExists.java
  src/main/java/com/autotune/common/exceptions/KruizeDatasourceDoesNotExist.java
  src/main/java/com/autotune/common/exceptions/datasource/DataSourceAlreadyExist.java
  src/main/java/com/autotune/common/exceptions/datasource/DataSourceDoesNotExist.java
  src/main/java/com/autotune/common/exceptions/datasource/DataSourceMissingRequiredFiled.java
  src/main/java/com/autotune/common/exceptions/datasource/DataSourceNotServiceable.java
  src/main/java/com/autotune/common/exceptions/datasource/ServiceNotFound.java
  src/main/java/com/autotune/common/exceptions/datasource/UnsupportedDataSourceProvider.java
  src/main/java/com/autotune/database/helper/DBConstants.java
  src/main/java/com/autotune/database/helper/DBHelpers.java
  src/main/java/com/autotune/database/service/ExperimentDBService.java
  src/main/java/com/autotune/operator/KruizeDeploymentInfo.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  tests/scripts/local_monitoring_tests/csv_data/datasources.csv
  tests/scripts/local_monitoring_tests/helpers/generate_datasource_json.py
  tests/scripts/local_monitoring_tests/json_files/datasources.json
Labels: local_monitoring, kruize-local

#1149 Implement CRUD operations for Datasource Metadata
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSource.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceCluster.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceContainer.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceMetadataHelper.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceMetadataInfo.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceNamespace.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceWorkload.java
  src/main/java/com/autotune/common/datasource/DataSourceManager.java
  src/main/java/com/autotune/common/datasource/DataSourceMetadataOperator.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: local_monitoring, kruize-local

#1166 Refactor recommendation code to include generate Recommendation API
  design/MonitoringModeAPI.md
  src/main/java/com/autotune/analyzer/Analyzer.java
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
  src/main/java/com/autotune/analyzer/services/GenerateRecommendations.java
  src/main/java/com/autotune/common/data/dataSourceQueries/DataSourceQueries.java
  src/main/java/com/autotune/common/data/dataSourceQueries/PromQLDataSourceQueries.java
  src/main/java/com/autotune/common/data/result/IntervalResults.java
  src/main/java/com/autotune/common/exceptions/DataSourceNotExist.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  src/main/java/com/autotune/utils/ServerContext.java
Labels: remote_monitoring, local_monitoring, code_cleanup/refactor, kruize-local

#1165 Fix the missing validation for Update recommendation API
  design/KruizeConfiguration.md
  design/MonitoringModeAPI.md
  manifests/crc/BYODB-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/BYODB-installation/openshift/kruize-crc-openshift.yaml
  manifests/crc/default-db-included-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/default-db-included-installation/openshift/kruize-crc-openshift.yaml
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
  src/main/java/com/autotune/analyzer/services/UpdateRecommendations.java
  src/main/java/com/autotune/analyzer/services/UpdateResults.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/database/service/ExperimentDBService.java
  src/main/java/com/autotune/operator/KruizeDeploymentInfo.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  tests/scripts/remote_monitoring_tests/helpers/utils.py
  tests/scripts/remote_monitoring_tests/rest_apis/test_update_recommendations.py
Labels: bug, remote_monitoring

#1168 DB integration for Datasource Metadata
  migrations/kruize_local_ddl.sql
  src/main/java/com/autotune/common/datasource/DataSourceManager.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/helper/DBConstants.java
  src/main/java/com/autotune/database/helper/DBHelpers.java
  src/main/java/com/autotune/database/service/ExperimentDBService.java
  src/main/java/com/autotune/database/table/KruizeDSMetadataEntry.java
Labels: local_monitoring, kruize-local

#1169 Add Datasource and DSMetadata APIs
  src/main/java/com/autotune/analyzer/Analyzer.java
  src/main/java/com/autotune/analyzer/serviceObjects/DSMetadataAPIObject.java
  src/main/java/com/autotune/analyzer/serviceObjects/ListDatasourcesAPIObject.java
  src/main/java/com/autotune/analyzer/services/DSMetadataService.java
  src/main/java/com/autotune/analyzer/services/ListDatasources.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/common/datasource/DataSourceManager.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/helper/DBConstants.java
  src/main/java/com/autotune/database/service/ExperimentDBService.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  src/main/java/com/autotune/utils/KruizeSupportedTypes.java
  src/main/java/com/autotune/utils/MetricsConfig.java
  src/main/java/com/autotune/utils/ServerContext.java
Labels: local_monitoring, kruize-local

#1170 Fix datasource for kruize_local experiments
  src/main/java/com/autotune/analyzer/experiment/ExperimentValidation.java
  src/main/java/com/autotune/analyzer/kruizeObject/KruizeObject.java
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
  src/main/java/com/autotune/analyzer/serviceObjects/Converters.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/operator/KruizeOperator.java
Labels: bug

#1175 Fix test failures
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
  tests/scripts/remote_monitoring_tests/helpers/utils.py
  tests/scripts/remote_monitoring_tests/rest_apis/test_update_recommendations.py
Labels: bug, test

#1171 get Max Date from promQL
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
  src/main/java/com/autotune/analyzer/services/GenerateRecommendations.java
  src/main/java/com/autotune/common/data/dataSourceQueries/DataSourceQueries.java
  src/main/java/com/autotune/common/data/dataSourceQueries/PromQLDataSourceQueries.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: enhancement, local_monitoring

#1180 Upgrade ubi-minimal to 8.9
  Dockerfile.autotune
Labels: remote_monitoring

#1181 Change to cloudwatch logging structure to resemble similar to ROS
  design/KruizeConfiguration.md
  design/KruizeConfigurationProcedure.md
  src/main/java/com/autotune/utils/CloudWatchAppender.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: remote_monitoring
