Repository kruize/autotune, pull requests merged in 2024-07, with the labels that each got.

#1224 Add create and list MetricProfile APIs
  design/KruizeLocalAPI.md
  design/MetricProfileAPI.md
  migrations/kruize_local_ddl.sql
  src/main/java/com/autotune/analyzer/Analyzer.java
  src/main/java/com/autotune/analyzer/experiment/ExperimentValidation.java
  src/main/java/com/autotune/analyzer/performanceProfiles/PerformanceProfile.java
  src/main/java/com/autotune/analyzer/performanceProfiles/PerformanceProfileValidation.java
  src/main/java/com/autotune/analyzer/performanceProfiles/utils/PerformanceProfileUtil.java
  src/main/java/com/autotune/analyzer/serviceObjects/Converters.java
  src/main/java/com/autotune/analyzer/services/MetricProfileService.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/helper/DBConstants.java
  src/main/java/com/autotune/database/helper/DBHelpers.java
  src/main/java/com/autotune/database/init/KruizeHibernateUtil.java
  src/main/java/com/autotune/database/service/ExperimentDBService.java
  src/main/java/com/autotune/database/table/KruizeMetricProfileEntry.java
  src/main/java/com/autotune/service/InitiateListener.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  src/main/java/com/autotune/utils/ServerContext.java
Labels: enhancement, local_monitoring, kruize-local

#1236 Add support for Kubernetes workload type - 'job' (Hackathon)
  src/main/java/com/autotune/analyzer/recommendations/RecommendationConstants.java
  src/main/java/com/autotune/analyzer/recommendations/RecommendationNotification.java
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
  src/main/java/com/autotune/analyzer/recommendations/term/Terms.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/common/data/dataSourceQueries/DataSourceQueries.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  src/main/java/com/autotune/utils/Utils.java
Labels: enhancement

#1221 Adding Support For Namespace Level Recommendations
  src/main/java/com/autotune/analyzer/recommendations/NamespaceRecommendations.java
  src/main/java/com/autotune/analyzer/recommendations/RecommendationConfigItem.java
  src/main/java/com/autotune/analyzer/recommendations/RecommendationNotification.java
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
  src/main/java/com/autotune/analyzer/recommendations/model/CostBasedRecommendationModel.java
  src/main/java/com/autotune/analyzer/recommendations/model/PerformanceBasedRecommendationModel.java
  src/main/java/com/autotune/analyzer/recommendations/model/RecommendationModel.java
  src/main/java/com/autotune/analyzer/recommendations/objects/MappedRecommendationForTimestamp.java
  src/main/java/com/autotune/analyzer/recommendations/term/Terms.java
  src/main/java/com/autotune/analyzer/recommendations/utils/RecommendationUtils.java
  src/main/java/com/autotune/analyzer/serviceObjects/Converters.java
  src/main/java/com/autotune/analyzer/serviceObjects/KubernetesAPIObject.java
  src/main/java/com/autotune/analyzer/serviceObjects/NamespaceAPIObject.java
  src/main/java/com/autotune/analyzer/services/GenerateRecommendations.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/common/data/dataSourceQueries/DataSourceQueries.java
  src/main/java/com/autotune/common/data/dataSourceQueries/PromQLDataSourceQueries.java
  src/main/java/com/autotune/common/data/result/NamespaceData.java
  src/main/java/com/autotune/common/k8sObjects/K8sObject.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: local_monitoring, kruize-local
