Repository kruize/autotune, pull requests merged in 2024-08, with the labels that each got.

#1244 Using Metric Profile For Namespace Queries
  manifests/autotune/performance-profiles/resource_optimization_local_monitoring.yaml
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/common/data/dataSourceQueries/DataSourceQueries.java
  src/main/java/com/autotune/common/data/dataSourceQueries/PromQLDataSourceQueries.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  src/main/java/com/autotune/utils/KruizeSupportedTypes.java
Labels: remote_monitoring, local_monitoring

#1243 Update MetricProfile queries to include workload labels
  design/MetricProfileAPI.md
  manifests/autotune/performance-profiles/resource_optimization_local_monitoring.yaml
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
Labels: remote_monitoring

#1207 Add new script to install Prometheus on Kind
  scripts/prometheus_on_kind.sh
Labels: enhancement, local_monitoring

#1247 Update container 'maxDate' query
  design/KruizeLocalAPI.md
  design/MetricProfileAPI.md
  manifests/autotune/performance-profiles/resource_optimization_local_monitoring.yaml
Labels: remote_monitoring, kruize-local

#1252 Update MetricProfile CPU and memory queries
  design/KruizeLocalAPI.md
  design/MetricProfileAPI.md
  manifests/autotune/performance-profiles/resource_optimization_local_monitoring.yaml
Labels: kruize-local

#1255 Fixes null pointer issues with Interval Results map
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
Labels: bug, recommendation

#1231 Add Create and List Metric Profile tests
  tests/scripts/helpers/kruize.py
  tests/scripts/helpers/list_metric_profiles_schema.py
  tests/scripts/helpers/list_metric_profiles_validate.py
  tests/scripts/helpers/list_metric_profiles_without_parameters_schema.py
  tests/scripts/helpers/utils.py
  tests/scripts/local_monitoring_tests/Local_monitoring_tests.md
  tests/scripts/local_monitoring_tests/json_files/resource_optimization_openshift_metric_profile.json
  tests/scripts/local_monitoring_tests/rest_apis/test_create_metric_profile.py
  tests/scripts/local_monitoring_tests/rest_apis/test_list_metric_profiles.py
  tests/setup.log
Labels: test, remote_monitoring, kruize-local

#1258 Add Create and List MetricProfile APIs
  migrations/kruize_local_ddl.sql
  src/main/java/com/autotune/analyzer/Analyzer.java
  src/main/java/com/autotune/analyzer/experiment/ExperimentValidation.java
  src/main/java/com/autotune/analyzer/performanceProfiles/PerformanceProfile.java
  src/main/java/com/autotune/analyzer/performanceProfiles/PerformanceProfileValidation.java
  src/main/java/com/autotune/analyzer/performanceProfiles/utils/PerformanceProfileUtil.java
  src/main/java/com/autotune/analyzer/serviceObjects/Converters.java
  src/main/java/com/autotune/analyzer/services/MetricProfileService.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/helper/DBConstants.java
  src/main/java/com/autotune/database/helper/DBHelpers.java
  src/main/java/com/autotune/database/init/KruizeHibernateUtil.java
  src/main/java/com/autotune/database/service/ExperimentDBService.java
  src/main/java/com/autotune/database/table/KruizeMetricProfileEntry.java
  src/main/java/com/autotune/service/InitiateListener.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  src/main/java/com/autotune/utils/KruizeSupportedTypes.java
  src/main/java/com/autotune/utils/ServerContext.java
Labels: enhancement, remote_monitoring, kruize-local

#1259 Add MetricProfile In-Memory Storage Collection
  src/main/java/com/autotune/Autotune.java
  src/main/java/com/autotune/analyzer/performanceProfiles/MetricProfileCollection.java
  src/main/java/com/autotune/analyzer/services/MetricProfileService.java
  src/main/java/com/autotune/database/table/KruizeMetricProfileEntry.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: enhancement, kruize-local

#1260 Support name and verbose parameters extending List MetricProfiles API
  src/main/java/com/autotune/analyzer/services/MetricProfileService.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/utils/KruizeSupportedTypes.java
Labels: enhancement, kruize-local

#1268 Integrate MetricProfile with local Experiments
  src/main/java/com/autotune/analyzer/experiment/ExperimentValidation.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/service/ExperimentDBService.java
  src/main/java/com/autotune/operator/KruizeOperator.java
Labels: enhancement, local_monitoring

#1269 Generate recommendations using MetricProfile Queries
  manifests/autotune/performance-profiles/resource_optimization_local_monitoring.yaml
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
Labels: local_monitoring, recommendation

#1262 Add Delete Metric Profile API with name query parameter
  design/KruizeLocalAPI.md
  design/MetricProfileAPI.md
  manifests/autotune/performance-profiles/resource_optimization_local_monitoring.yaml
  src/main/java/com/autotune/analyzer/Analyzer.java
  src/main/java/com/autotune/analyzer/experiment/ExperimentValidation.java
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
  src/main/java/com/autotune/analyzer/services/MetricProfileService.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/helper/DBConstants.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  src/main/java/com/autotune/utils/ServerContext.java
Labels: API, kruize-local

#1274 Refactor end-to-end local monitoring test
  tests/scripts/helpers/utils.py
  tests/scripts/local_monitoring_tests/rest_apis/test_local_monitoring_e2e_workflow.py
Labels: bug, test, local_monitoring

#1226 Add AKS support in mvp_demo branch
  deploy.sh
  manifests/autotune/configmaps/aks-config.yaml
  manifests/crc/default-db-included-installation/aks/kruize-crc-aks.yaml
  scripts/aks-helpers.sh
  scripts/prometheus_on_aks.sh
Labels: enhancement
