Repository kruize/autotune, pull requests merged in 2025-03, with the labels that each got.

#1492 1. Kafka: Initial integration changes
  design/KafkaDesign.md
  manifests/crc/default-db-included-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/default-db-included-installation/openshift/kruize-crc-openshift.yaml
  pom.xml
  src/main/java/com/autotune/Autotune.java
  src/main/java/com/autotune/common/kafka/KruizeKafkaConsumer.java
  src/main/java/com/autotune/common/kafka/KruizeKafkaProducer.java
  src/main/java/com/autotune/operator/KruizeDeploymentInfo.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: enhancement

#1501 Add Delete MetadataProfile API
  design/KruizeLocalAPI.md
  design/MetadataProfileAPI.md
  src/main/java/com/autotune/analyzer/Analyzer.java
  src/main/java/com/autotune/analyzer/services/MetadataProfileService.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/helper/DBConstants.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  src/main/java/com/autotune/utils/ServerContext.java
Labels: enhancement, local_monitoring, API

#1521 1 - Bulkjob Save to DB - SQL and MD file update
  design/KruizeDatabaseDesign.md
  migrations/kruize_local_ddl.sql
Labels: database, API

#1491 [Test] Add new tests for Metadata Profile APIs
  tests/scripts/helpers/kruize.py
  tests/scripts/helpers/list_metadata_profiles_schema.py
  tests/scripts/helpers/list_metadata_profiles_validate.py
  tests/scripts/helpers/list_metadata_profiles_without_parameters_schema.py
  tests/scripts/helpers/utils.py
  tests/scripts/local_monitoring_tests/Local_monitoring_tests.md
  tests/scripts/local_monitoring_tests/rest_apis/test_create_metadata_profile.py
  tests/scripts/local_monitoring_tests/rest_apis/test_list_metadata_profiles.py
Labels: test, local_monitoring

#1523 3 - Bulkjob Save to DB - Flag and Service layer
  design/BulkAPI.md
  src/main/java/com/autotune/analyzer/services/BulkService.java
  src/main/java/com/autotune/operator/KruizeDeploymentInfo.java
  src/main/java/com/autotune/utils/GenericRestApiClient.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: database, API

#1524 4 - Bulkjob Save to DB - List all recommedations thats gets generated using bulkJOB ID
  src/main/java/com/autotune/analyzer/services/ListExperiments.java
  src/main/java/com/autotune/analyzer/services/ListRecommendations.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/service/ExperimentDBService.java
Labels: database, API

#1537 [Test] Skip local monitoring testcase without datasource connection
  tests/scripts/local_monitoring_tests/rest_apis/test_import_metadata.py
Labels: test, local_monitoring

#1526 6 - Bulkjob Save to DB - BulkManager Refactor code and Call job save function
  src/main/java/com/autotune/analyzer/workerimpl/BulkJobManager.java
Labels: database, API

#1527 7 - Bulkjob Save to DB - Minor Miscellaneous changes
  src/main/java/com/autotune/analyzer/exceptions/KruizeResponse.java
  src/main/java/com/autotune/analyzer/serviceObjects/BulkJobStatus.java
  src/main/java/com/autotune/analyzer/serviceObjects/CreateExperimentAPIObject.java
  src/main/java/com/autotune/analyzer/services/BulkService.java
  src/main/java/com/autotune/analyzer/workerimpl/BulkJobManager.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSource.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceCluster.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceContainer.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceMetadataInfo.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceNamespace.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceWorkload.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/helper/DBConstants.java
  src/main/java/com/autotune/database/init/KruizeHibernateUtil.java
  src/main/java/com/autotune/database/table/lm/KruizeBulkJobEntry.java
Labels: code_cleanup/refactor

#1508 Setup default Metadata and Metric Profiles during Kruize initialization
  Dockerfile.autotune
  src/main/java/com/autotune/Autotune.java
  src/main/java/com/autotune/analyzer/metadataProfiles/MetadataProfileCollection.java
  src/main/java/com/autotune/analyzer/performanceProfiles/MetricProfileCollection.java
  src/main/java/com/autotune/operator/KruizeDeploymentInfo.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  tests/scripts/common/common_functions.sh
  tests/scripts/local_monitoring_tests/local_monitoring_tests.sh
  tests/scripts/local_monitoring_tests/pytest.ini
  tests/scripts/local_monitoring_tests/rest_apis/test_bulkAPI.py
Labels: analyzer, local_monitoring

#1444 Integrate MetadataProfile with DSMetadata and Bulk API
  src/main/java/com/autotune/analyzer/kruizeObject/CreateExperimentConfigBean.java
  src/main/java/com/autotune/analyzer/metadataProfiles/MetadataProfileCollection.java
  src/main/java/com/autotune/analyzer/serviceObjects/BulkInput.java
  src/main/java/com/autotune/analyzer/serviceObjects/DSMetadataAPIObject.java
  src/main/java/com/autotune/analyzer/services/DSMetadataService.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/analyzer/workerimpl/BulkJobManager.java
  src/main/java/com/autotune/common/data/dataSourceMetadata/DataSourceMetadataHelper.java
  src/main/java/com/autotune/common/data/dataSourceQueries/DataSourceQueries.java
  src/main/java/com/autotune/common/data/dataSourceQueries/PromQLDataSourceQueries.java
  src/main/java/com/autotune/common/datasource/DataSourceManager.java
  src/main/java/com/autotune/common/datasource/DataSourceMetadataOperator.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: enhancement, local_monitoring, API

#1496 Integrate MetadataProfile with CreateExperiment API
  migrations/kruize_local_ddl.sql
  src/main/java/com/autotune/analyzer/Analyzer.java
  src/main/java/com/autotune/analyzer/experiment/ExperimentValidation.java
  src/main/java/com/autotune/analyzer/kruizeObject/CreateExperimentConfigBean.java
  src/main/java/com/autotune/analyzer/kruizeObject/KruizeObject.java
  src/main/java/com/autotune/analyzer/metadataProfiles/MetadataProfileDeployment.java
  src/main/java/com/autotune/analyzer/serviceObjects/Converters.java
  src/main/java/com/autotune/analyzer/serviceObjects/CreateExperimentAPIObject.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/analyzer/workerimpl/BulkJobManager.java
  src/main/java/com/autotune/common/k8sObjects/KubernetesContexts.java
  src/main/java/com/autotune/database/helper/DBHelpers.java
  src/main/java/com/autotune/database/table/lm/KruizeLMExperimentEntry.java
  src/main/java/com/autotune/operator/KruizeOperator.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: enhancement, local_monitoring

#1541 Update tests and docs integrating metadata_profile
  design/BulkAPI.md
  design/KruizeLocalAPI.md
  tests/scripts/helpers/kruize.py
  tests/scripts/helpers/utils.py
  tests/scripts/local_monitoring_tests/Local_monitoring_tests.md
  tests/scripts/local_monitoring_tests/json_files/bulk_input.json
  tests/scripts/local_monitoring_tests/json_files/bulk_input_timerange.json
  tests/scripts/local_monitoring_tests/json_files/import_metadata.json
  tests/scripts/local_monitoring_tests/json_files/import_metadata_mandatory.json
  tests/scripts/local_monitoring_tests/json_files/import_metadata_template.json
  tests/scripts/local_monitoring_tests/json_files/thanos_import_metadata.json
  tests/scripts/local_monitoring_tests/rest_apis/test_bulkAPI.py
  tests/scripts/local_monitoring_tests/rest_apis/test_import_metadata.py
  tests/scripts/local_monitoring_tests/rest_apis/test_local_monitoring_e2e_workflow.py
  tests/scripts/local_monitoring_tests/rest_apis/test_namespace_reco_e2e_workflow.py
Labels: documentation, test, local_monitoring

#1548 Disable Kafka by default
  manifests/crc/BYODB-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/BYODB-installation/openshift/kruize-crc-openshift.yaml
  manifests/crc/default-db-included-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/default-db-included-installation/openshift/kruize-crc-openshift.yaml
Labels: bug

#1543 Update create exp tests and docs integrating metadata_profile
  design/KruizeLocalAPI.md
  tests/scripts/helpers/utils.py
  tests/scripts/local_monitoring_tests/json_files/create_exp_template.json
  tests/scripts/local_monitoring_tests/json_files/create_multiple_namespace_exp.json
  tests/scripts/local_monitoring_tests/json_files/create_tfb_db_exp.json
  tests/scripts/local_monitoring_tests/json_files/create_tfb_exp.json
  tests/scripts/local_monitoring_tests/rest_apis/test_create_experiment.py
  tests/scripts/local_monitoring_tests/rest_apis/test_list_recommendations.py
  tests/scripts/local_monitoring_tests/rest_apis/test_local_monitoring_e2e_workflow.py
  tests/scripts/local_monitoring_tests/rest_apis/test_namespace_reco_e2e_workflow.py
Labels: documentation, test

#1549 For ROS flags isRosEnabled is true and local=false by default via code
  manifests/crc/default-db-included-installation/aks/kruize-crc-aks.yaml
  manifests/crc/default-db-included-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/default-db-included-installation/openshift/kruize-crc-openshift.yaml
  src/main/java/com/autotune/Autotune.java
  src/main/java/com/autotune/operator/KruizeDeploymentInfo.java
  src/main/java/com/autotune/service/InitiateListener.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  tests/scripts/common/common_functions.sh
  tests/scripts/remote_monitoring_tests/remote_monitoring_tests.sh
  tests/scripts/remote_monitoring_tests/scale_test/remote_monitoring_scale_test_bulk.sh
  tests/scripts/remote_monitoring_tests/stress_test/remote_monitoring_stress_test.sh
Labels: API
