Repository kruize/autotune, pull requests merged in 2025-06, with the labels that each got.

#1572 Add experiment_type for remote monitoring experiments
  design/CreateExperiment.md
  design/KruizeLocalAPI.md
  design/MonitoringModeAPI.md
  manifests/autotune/performance-profiles/resource_optimization_openshift.json
  manifests/autotune/performance-profiles/resource_optimization_openshift.yaml
  migrations/kruize_experiments_ddl.sql
  src/main/java/com/autotune/analyzer/experiment/ExperimentValidation.java
  src/main/java/com/autotune/analyzer/serviceObjects/Converters.java
  src/main/java/com/autotune/analyzer/serviceObjects/NamespaceAPIObject.java
  src/main/java/com/autotune/analyzer/services/CreateExperiment.java
  src/main/java/com/autotune/analyzer/services/ListExperiments.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/analyzer/utils/ExperimentTypeUtil.java
  src/main/java/com/autotune/database/helper/DBHelpers.java
  src/main/java/com/autotune/database/table/KruizeExperimentEntry.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: enhancement, remote_monitoring, API

#1582 Fix namespace kubernetes_object nomenclature in local monitoring tests
  tests/scripts/helpers/list_reco_json_local_monitoring_schema.py
  tests/scripts/helpers/utils.py
  tests/scripts/local_monitoring_tests/json_files/create_exp_template.json
  tests/scripts/local_monitoring_tests/json_files/create_multiple_namespace_exp.json
  tests/scripts/local_monitoring_tests/rest_apis/test_create_experiment.py
  tests/scripts/local_monitoring_tests/rest_apis/test_import_metadata.py
  tests/scripts/local_monitoring_tests/rest_apis/test_list_recommendations.py
  tests/scripts/local_monitoring_tests/rest_apis/test_namespace_reco_e2e_workflow.py
Labels: test, local_monitoring

#1589 [DailyByte]: Improve code readability and consistancy in accessing constants
  src/main/java/com/autotune/Autotune.java
Labels: micro-optimisation

#1575 Add experiment_type tests for remote monitoring
  tests/scripts/helpers/utils.py
  tests/scripts/remote_monitoring_tests/Remote_monitoring_tests.md
  tests/scripts/remote_monitoring_tests/fault_tolerant_tests/kruize_pod_restart_test.py
  tests/scripts/remote_monitoring_tests/fault_tolerant_tests/remote_monitoring_fault_tolerant_tests.sh
  tests/scripts/remote_monitoring_tests/json_files/create_exp_template.json
  tests/scripts/remote_monitoring_tests/json_files/create_multiple_namespace_exp.json
  tests/scripts/remote_monitoring_tests/json_files/resource_optimization_openshift.json
  tests/scripts/remote_monitoring_tests/remote_monitoring_tests.sh
  tests/scripts/remote_monitoring_tests/rest_apis/test_create_experiment.py
  tests/scripts/remote_monitoring_tests/scale_test/json_files/profile.json
  tests/scripts/remote_monitoring_tests/scale_test/quickTestScalability.py
  tests/scripts/remote_monitoring_tests/scale_test/rosSimulationScalabilityTest.py
  tests/scripts/remote_monitoring_tests/stress_test/remote_monitoring_stress_test.sh
Labels: test, remote_monitoring

#1577 Update Results API changes
  design/MonitoringModeAPI.md
  src/main/java/com/autotune/analyzer/experiment/ExperimentValidation.java
  src/main/java/com/autotune/analyzer/performanceProfiles/utils/PerformanceProfileUtil.java
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
  src/main/java/com/autotune/analyzer/serviceObjects/Converters.java
  src/main/java/com/autotune/analyzer/serviceObjects/KubernetesAPIObject.java
  src/main/java/com/autotune/analyzer/serviceObjects/verification/validators/KubernetesElementsValidator.java
  src/main/java/com/autotune/analyzer/services/CreateExperiment.java
  src/main/java/com/autotune/analyzer/services/ListExperiments.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/common/k8sObjects/K8sObject.java
  src/main/java/com/autotune/database/helper/DBHelpers.java
Labels: enhancement, API

#1529 [Kruize VPA Integration] Adding Support for Dry Run Check For Auto Scaler
  src/main/java/com/autotune/analyzer/autoscaler/validator/ResourceValidator.java
  src/main/java/com/autotune/analyzer/autoscaler/vpa/VpaAutoscalerImpl.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
Labels: remote_monitoring, local_monitoring

#1593 Tests for Update Results Changes
  tests/scripts/helpers/utils.py
  tests/scripts/remote_monitoring_tests/Remote_monitoring_tests.md
  tests/scripts/remote_monitoring_tests/json_files/create_namespace_exp.json
  tests/scripts/remote_monitoring_tests/json_files/multiple_results_single_exp_namespace.json
  tests/scripts/remote_monitoring_tests/json_files/update_results_namespace.json
  tests/scripts/remote_monitoring_tests/json_files/update_results_template_namespace.json
  tests/scripts/remote_monitoring_tests/rest_apis/test_update_results.py
Labels: test

#1600 Add New tests for Update/List Recommendations API for Namespace recommendations
  tests/scripts/helpers/utils.py
  tests/scripts/remote_monitoring_tests/Remote_monitoring_tests.md
  tests/scripts/remote_monitoring_tests/json_files/create_exp_namespace.json
  tests/scripts/remote_monitoring_tests/rest_apis/test_list_recommendations.py
  tests/scripts/remote_monitoring_tests/rest_apis/test_update_recommendations.py
Labels: test, remote_monitoring
