Repository kruize/autotune, pull requests merged in 2025-02, with the labels that each got.

#1467 [Tests] Adding New Tests For Create Experiment API with VPA Modes
  tests/scripts/helpers/utils.py
  tests/scripts/local_monitoring_tests/rest_apis/test_create_experiment.py
Labels: remote_monitoring

#1459 KAMS - 2 : Add instaslice helper and settings updater
  src/main/java/com/autotune/Autotune.java
  src/main/java/com/autotune/analyzer/autoscaler/Autoscaler.java
  src/main/java/com/autotune/analyzer/autoscaler/AutoscalerImpl.java
  src/main/java/com/autotune/analyzer/autoscaler/AutoscalerService.java
  src/main/java/com/autotune/analyzer/autoscaler/instaslice/InstasliceHelper.java
  src/main/java/com/autotune/analyzer/autoscaler/settings/AutoscalingSettings.java
  src/main/java/com/autotune/analyzer/autoscaler/vpa/VpaAutoscalerImpl.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
Labels: recommendation, kruize-local, Accelerator

#1460 KAMS - 3 : Adds support for MIG partition data in Device Details
  src/main/java/com/autotune/analyzer/adapters/DeviceDetailsAdapter.java
  src/main/java/com/autotune/analyzer/recommendations/engine/RecommendationEngine.java
  src/main/java/com/autotune/analyzer/recommendations/utils/RecommendationUtils.java
  src/main/java/com/autotune/common/data/system/info/device/accelerator/AcceleratorDeviceData.java
Labels: recommendation, kruize-local, Accelerator

#1484 1. Bulk new format - Support to handle New Format Request and response Object
  design/BulkAPI.md
  src/main/java/com/autotune/analyzer/serviceObjects/BulkInput.java
  src/main/java/com/autotune/analyzer/serviceObjects/BulkJobStatus.java
  src/main/java/com/autotune/analyzer/services/BulkService.java
  src/main/java/com/autotune/analyzer/workerimpl/BulkJobManager.java
Labels: API

#1482 Add Create and List MetadataProfile APIs
  src/main/java/com/autotune/analyzer/Analyzer.java
  src/main/java/com/autotune/analyzer/exceptions/MetadataProfileResponse.java
  src/main/java/com/autotune/analyzer/metadataProfiles/MetadataProfile.java
  src/main/java/com/autotune/analyzer/metadataProfiles/MetadataProfileValidation.java
  src/main/java/com/autotune/analyzer/serviceObjects/Converters.java
  src/main/java/com/autotune/analyzer/services/MetadataProfileService.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerConstants.java
  src/main/java/com/autotune/analyzer/utils/AnalyzerErrorConstants.java
  src/main/java/com/autotune/utils/KruizeConstants.java
  src/main/java/com/autotune/utils/KruizeSupportedTypes.java
  src/main/java/com/autotune/utils/ServerContext.java
Labels: enhancement, local_monitoring, API

#1490 Add Metadata Profile docs
  design/KruizeLocalAPI.md
  design/MetadataProfile.md
  design/MetadataProfileAPI.md
Labels: documentation, local_monitoring

#1437 Fix failures due to delete experiment
  src/main/java/com/autotune/analyzer/services/CreateExperiment.java
  src/main/java/com/autotune/database/dao/ExperimentDAO.java
  src/main/java/com/autotune/database/dao/ExperimentDAOImpl.java
  src/main/java/com/autotune/database/helper/DBConstants.java
  tests/scripts/helpers/kruize.py
  tests/scripts/local_monitoring_tests/fault_tolerant_test/kruize_pod_restart_test.py
  tests/scripts/local_monitoring_tests/rest_apis/test_create_experiment.py
  tests/scripts/local_monitoring_tests/rest_apis/test_list_recommendations.py
  tests/scripts/local_monitoring_tests/rest_apis/test_local_monitoring_e2e_workflow.py
  tests/scripts/local_monitoring_tests/rest_apis/test_namespace_reco_e2e_workflow.py
Labels: bug, test

#1445 Add local monitoring e2e test job in PR check workflow
  .github/workflows/test-on-pr.yaml
Labels: local_monitoring

#1499 Fix RBAC issues
  manifests/crc/default-db-included-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/default-db-included-installation/openshift/kruize-crc-openshift.yaml
Labels: rbac, manifests

#1505 Update local monitoring e2e test jobs in PR check
  .github/workflows/test-on-pr.yaml
  tests/scripts/local_monitoring_tests/local_monitoring_tests.sh
  tests/scripts/local_monitoring_tests/pytest.ini
  tests/scripts/local_monitoring_tests/rest_apis/test_local_monitoring_e2e_workflow.py
Labels: local_monitoring

#1493 3. Bulk new format - Get Job details using filter
  src/main/java/com/autotune/analyzer/serviceObjects/BulkJobStatus.java
  src/main/java/com/autotune/analyzer/services/BulkService.java
  src/main/java/com/autotune/analyzer/workerimpl/BulkJobManager.java
  src/main/java/com/autotune/utils/KruizeConstants.java
Labels: API

#1512 Bump mvp_demo to Kruize v0.4
  manifests/crc/BYODB-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/BYODB-installation/openshift/kruize-crc-openshift.yaml
  manifests/crc/default-db-included-installation/aks/kruize-crc-aks.yaml
  manifests/crc/default-db-included-installation/minikube/kruize-crc-minikube.yaml
  manifests/crc/default-db-included-installation/openshift/kruize-crc-openshift.yaml
  pom.xml
Labels: release
