Repository kruize/autotune, pull requests merged in 2025-07, with the labels that each got.

#1615 Update Maven distribution URL in the Dockerfile
  Dockerfile.autotune
Labels: bug

#1624 ETBIDB-2: Adds experiment_type field as big int and updates the DB entry object and helpers
  migrations/kruize_experiments_ddl.sql
  src/main/java/com/autotune/database/helper/DBHelpers.java
  src/main/java/com/autotune/database/table/KruizeExperimentEntry.java
Labels: analyzer, database

#1619 Add tests for new DB columns (experiment_type, creation_date, update_date)
  tests/scripts/remote_monitoring_tests/Remote_monitoring_tests.md
  tests/scripts/remote_monitoring_tests/rest_apis/test_create_experiment.py
Labels: test, database

#1621 Documentation changes for UpdateMetadataProfile API
  design/KruizeLocalAPI.md
  design/MetadataProfileAPI.md
Labels: documentation, local_monitoring
